<style>
          body{
            margin-left: 400px;
          }
            div {
              border:black;
              font-size: 50px;
            }
            h2 {
              text-align: center;
            }
            button{
              padding: 30px ;
              background-color: rgb(63, 193, 253);
              height: 25px;
              width:250px;
              margin-left: 125px;
              border-radius: 25px 25px;
              font-size: 25px;
              font-family: Arial, Helvetica, sans-serif;
              text-align: center;
              display: inline-block;
            }
img{
border:10px black 
;height:500px ; 
width:500px;"
}
            </style>