  <style>
    table ,tr,td,th{
        border: 5px black;
                }
            ul{
                font-size: 20px;
                }
        h1{
            color: red;
            }
            legend{
                font-size: 30px;
            }
            fieldset{
                width:fit-content; 
                margin-left:100px;
                border: 5px black; 
                background-color: rgb(233, 231, 231);
            }
            #f1{
                border: 5px black;
                margin-left: 30px;
                width: 500px;
            }
            input{
                margin-left: 120px;
            }
        </style>